*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** change the navbar-bg-color */
.navbar-custom{
    background-color: #2c82c9;
}
.navbar-custom .navbar-brand{
    color: #ffffff;
}
.custom-toggler .navbar-toggler{
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon{
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar button .navbar-toggler:hover {
    color: rgb(255,255,255);
    border-color: white;
}
.navbar-nav{
    padding: 4px 8px;
}

.navbar-item{
    font-size: small;
}
.navbar-link {
    text-decoration-line: none;
    list-style: none;
    margin: 4px;
    color: white;
}
.navbar-link:hover{
    color: black;
}