
/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}


/** change the navbar-bg-color */
.navbar-custom{
    background-color: #2c82c9;
}
.navbar-custom .navbar-brand{
    color: #ffffff;
}
.custom-toggler .navbar-toggler{
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon{
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar button .navbar-toggler:hover {
    color: rgb(255,255,255);
    border-color: white;
}
.navbar-nav{
    padding: 4px 8px;
}

.navbar-item{
    margin: 1rem;
    font-size: 1rem;
}
.navbar-link {
    text-decoration-line: none;
    list-style: none;
    margin: 4px;
    color: white;
}
.navbar-link:hover{
    color: var(--color7);
}

/* hero styles */
#hero{
    background-color: var(--color3);
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
#hero h2{
    font-size: 2.5rem;
}
#hero img{
    max-width: 100%;
    max-height: 454px;
}
/* mission styles */
.mission{
    margin-bottom: 3rem;
}
.missiontext{
    display: block;
    line-height: 1.7;
}
.missionimg{
    max-height: 100px;
    display: block;
}
/* sections ul li */
section {
    max-width: 1200px;
    margin: 0 auto 5rem auto;
    padding: 0 1rem;
    
}

section h2 {
    font-size: 2.5rem;
}
 #card__wrapper ul{
     list-style-type: none;
 }
section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* card__wrapper styles,To keep mobile screens from being stupid long, consider setting a max height on the images and hide the overflow. 
Spelled out the individual border styles so border-color could go elsewhere. Styling is the same for all borders except the color. */
figure{
    margin: 0 0 0.5rem 0;
    padding: 0;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
}
/* strange open space at the bottom of the box which shows through the transparent overlay - this kills it */
figure img {
    margin-bottom: -4px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -150px;
}
figcaption{
    background-color: rgb(255,255,255, 0.8);
    font-size: 1.875rem;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* make the a have a big clickable area with display: block - the link occupies its containing element, the figcaption */
figcaption a {
    display: block;
    padding: 1rem;
    list-style-type: none;
    text-decoration: none;
    color: var(--color1);
}
/* green stripe for card__wrapper images */
.stripe{
    background-color: #DBE5DE;
    color: #DBE5DE;
    padding: 1rem 0 2rem 0;
}
section figure{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    gap: 1rem;
}
section figure img{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    height: 540px;
}



@media (min-width: 550px){
    
    section ul{
        display: flex;
        flex-direction: row wrap;
        justify-content: space-between;
    }
    section li{
        flex-basis: 49.5%;
    }
    #card__wrapper li:last-child{
        flex-basis: 100%;
    }
    #card__wrapper li:last-child figure img {
        object-position: 0 -350px;
    }

    /* turn off object position, inherit object-fit: cover */
    figure img{
        object-position: 0;
    }

     /* display: flow-root clears the float!!!! max-width keeps the text line length shorter */
     .missiontext{
         display: flow-root;
         max-width: 900px;
     }
     .missionimg{
         float: left;
         shape-outside: polygon(35.84% 94.87%, 34.64% 87.05%, 51.64% 4.06%, 55.1% 2.38%);
         max-height: 211px;
     }
     
     

}
@media (min-width: 800px){
    section h2{
        margin-left: 100px;
    }
    
    #card__wrapper li:last-child,
    section li{
        flex-basis: 32.5%;
    }
    #card__wrapper li:last-child figure img {
        object-position: 0;
    }


}
@media(min-width: 768px){
    #card__wrapper li:last-child,
    section li{
        flex-basis: 32.5%;
    }
    #hero img{
        width: 1024%;
    }
}
@media(min-width: 1440px){
    #hero img{
        width: 1440%;
    }
}



